<!-- <app-navbar-details [name]="item?.name"></app-navbar-details> -->


<div style="margin: -24px;">
  <!-- <nav class="navbar du-color">
    <button mat-icon-button (click)="backClicked()">
        <mat-icon>close</mat-icon>
    </button>
    <span class="mr-auto"></span>
  </nav> -->

  <mat-toolbar class="du-color">
    <button mat-icon-button (click)="backClicked()">
      <mat-icon>close</mat-icon>
    </button>
    {{ item?.name }}</mat-toolbar>
  <div class="p-2">
    <mat-card class="p-2">
      <mat-card-content class="p-2">
        <div class="row">
          <div class="col-lg-6">
            <img class="img-fluid" [src]="item?.imageUrl!=null ? item?.imageUrl : '../assets/img/ud_launcher-min.png'" alt="{{item?.name}}">
          </div>
          <div class="col-lg-6 px-2">
            <div class="px-2 mt-4 mt-md-4 mt-lg-0">
              <h3>{{ item?.name }}</h3>
              <hr>
            </div>

            <div class="mt-4 px-2">
              <h5>INFORMATION</h5>
            </div>
            <div class="px-2">
              <h6>Descriptión: {{ item?.description }}</h6>
            </div>
            <div class="px-2">
              <h6>
                {{ item?.discount }}</h6>
            </div>
            <!-- <div class="px-2">
            <p>4.7 / 5
                <i class="material-icons" style="vertical-align: middle; font-size:14px;">star_border</i>
            </p>
          </div>  -->
            <div class="px-2">
              <!-- <a href="tel:{{ item?.phone }}" class="px-2" style="text-decoration:none"><i class="material-icons" style="vertical-align: middle; font-size:14px;">phone</i>
              {{ item?.phone }}</a> -->
              <a mat-raised-button class="px-2 btn-phone" href="tel:{{ item?.phone }}">
                <mat-icon>phone</mat-icon> {{ item?.phone }}
              </a>
            </div>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-lg-12 px-2">
            <hr>
            <p class="my-2">
              <!-- <i class="material-icons" style="vertical-align: middle; font-size:14px;">location_on</i> -->
              <mat-icon style="vertical-align: middle;">location_on</mat-icon>
              {{ item?.address }}
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <app-discounts-map [discountId]="discount.discount"></app-discounts-map>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>